// #sibebar-list {
//   border: 2px solid red;
//   width: 100% !important;
// }

.sidebar {
  background-color: rgb(30, 19, 19);
  //   transition: width 0.3s ease;
  //   background-color: red;

  .close-menu {
    color: #f97316;
    font-size: 1.5rem;
  }

  .quantum {
    font-size: 1.3rem;
    --tw-text-opacity: 1;
    color: rgb(249 115 22 / var(--tw-text-opacity));
  }
}

.sidebar li:hover a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(
    to bottom,
    #000000e4,
    #d5d5d4
  ); /* Gradiente cyan */
}

/* Estilos para cambiar el color del ícono y el texto a blanco al pasar el cursor */
.sidebar li:hover a i,
.sidebar li:hover a span {
  color: white;
}
