.div-home {
  // height: 60px;

  width: 100%;

  .div-home-header {
    // border: 2px solid palegreen;
    height: 300px;
    margin-top: 5rem;
    // background: red;
    // padding: 20px;

    @media screen and (max-width: 1050px) {
      margin-top: 1rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  nav {
    height: 100%;
    width: 25%;
    // border: 2px solid rebeccapurple;
    // border-radius: 10px;
    // margin-left: 20px;

    @media screen and (max-width: 1050px) {
      display: none;
    }
  }

  .div-home-header ul {
    height: 100%;
    width: 100%;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    // padding: 10px 0;
  }

  .header-baniere {
    // border: 2px solid blue;
    height: 100%;
    width: 70%;
    background: gray;

    @media screen and (max-width: 1050px) {
      width: 95%;
    }
  }
}

.div-first {
  display: none;

  @media screen and (max-width: 1050px) {
    display: flex;
    margin-top: 5rem;
  }

  @media screen and (max-width: 600px) {
    padding: 0 1rem;
  }
}

.home-search {
  height: 100%;
  width: 60%;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

/* categories */
// .categories {
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
//   grid-gap: 2rem;
// }
// .category {
//   text-align: center;
//   padding: 3rem;
//   border: 1px solid pink;
//   transition: all 0.3s ease;
//   cursor: pointer;
// }
// .category:hover {
//   background-color: gray;
// }
// .category_icon {
//   width: 3.5rem;
//   height: auto;
// }

// .swiper-container {
//   height: 400px;
//   width: 100%;
//   padding: 40px;
//   background: gray;
// }

// .slide {
//   height: 300px;
//   width: 100px;
//   border: 2px solid blue;
// }

// details-infos
@import "../../layouts/banner_slider";
